<!DOCTYPE html>
<html>
  <head>
    <title>Riz</title>
  </head>

  <body style = "left: 500px">
    <h1>Perfect Sushi Rice</h1>

    <img src="../../resources/images/riz_image.png" alt="Perfect Sushi Rice"  width="400" height="300">

    <h2> Description </h2>
    <p style="width: 600px;"> Sushi rice is a type of short-grain rice that is seasoned with a mixture of rice vinegar,
     sugar, and salt. It is sticky and slightly sweet, making it perfect for sushi rolls and nigiri.
    The key to perfect sushi rice is to rinse the rice thoroughly before cooking to remove excess starch,
    and to let it cool to room temperature before using it in sushi. 
    </p>

    <h2> Ingrédients</h2>
    <ul>
        <li>2 cups uncooked sushi rice</li>
        <li>2 cups water</li>
        <li>¼ cup rice wine vinegar or to taste</li>
        <li>¼ cup white sugar or to taste</li>
        <li>1 tablespoon vegetable oil</li>
        <li>1 teaspoon salt or to taste</li>

    </ul>

    <h2> Étapes</h2>

    <ol style="width: 600px;">
        <li> Rinse the sushi rice in a fine-mesh strainer under cold running water until the water runs clear. This removes excess starch and prevents the rice from becoming too sticky.</li>
        <li> In a medium saucepan, combine the rinsed rice and water. Bring to a boil over high heat, then reduce the heat to low, cover, and simmer for 18-20 minutes, or until the water is absorbed and the rice is tender.</li>
        <li> While the rice is cooking, in a small saucepan, combine the rice wine vinegar, sugar, vegetable oil, and salt. Heat over low heat until the sugar dissolves, stirring occasionally. Remove from heat and let it cool slightly.</li>
        <li> Once the rice is cooked, transfer it to a large bowl and gently fold in the vinegar mixture using a wooden spoon or spatula. Be careful not to mash the rice.</li>
        <li> Allow the rice to cool to room temperature before using it for sushi rolls or nigiri.</li>
    </ol>


    <a href="../index.html">Accueil</a>
  </body>
</html>